@charset "utf-8";
/* CSS Document */

.content {background:#f0f0f0 url(../images/content-bg.png) repeat-y;}
.content-bd {width:1000px;margin:0 auto;background:url(../images/content-body-bg.png) repeat-y;}


/* 搜索 */
.content-bd .search-wrap {padding:12px 0;background:#f0f0f0 url(../images/products/bg.jpg) repeat-x;height:54px;}
.content-bd .search-wrap .search-wrap-bd {width:1000px;height:53px;margin:0 auto;border:1px solid #d8d4d5; background: url(../images/search-wrap-bd.png) repeat-x;}

.search-wrap-bd .search-key {float:left;padding-left:70px;height:52px;line-height:52px;color:#666666;}
.search-wrap-bd .search-key .key-text {float:left;}
.search-wrap-bd .search-key .key-ul {height:52px;line-height:52px;float:left;overflow:hidden;}
.search-wrap-bd .search-key .key-ul .key-li{float:left;padding-right:20px;}
.search-wrap-bd .search-key .key-ul .key-li a{font-size:12px;font-family:'宋体';color:#666666; text-decoration:none;}
.search-wrap-bd .search-key .key-ul .key-li a:hover {color:#916119;text-decoration:underline;}

.search-wrap-bd .search{float:right;height:33px;line-height:33px;padding:10px 0 9px}
.search-wrap-bd .search .sea-inp{float:left;padding-right:20px;}
.search-wrap-bd .search .sea-inp .sea-inp-midd{height:33px;line-height:33px;background:url(../images/search-input-bd.png) no-repeat left center; margin:0 5px;text-align:center;width:213px;}
.search-wrap-bd .search .sea-inp .sea-inp-midd input {width:160px;height:20px;line-height:20px;padding:6px 0 7px 20px;border:none;font-size:14px;background:none;}

.search-wrap-bd .search .sea-btn{float:left;padding-right:80px;}
.search-wrap-bd .search .sea-btn #query {height:33px;width:69px;color:#fff;background:url(../images/search-btn-bg.png) no-repeat;border:none;font-size:14px;font-family:'宋体'; cursor:pointer;}
.search-wrap-bd .search .sea-btn .sea-btn-left{width:70px;background:url(../images/search_btn_left.png) no-repeat;}
.search-wrap-bd .search .sea-btn .sea-btn-right{background:url(../images/search_btn_right.png) no-repeat right 0;}
.search-wrap-bd .search .sea-btn .sea-btn-midd{height:33px;line-height:33px;background:url(../images/search_btn_body.png) repeat-x; margin:0 8px;text-align:center;}
.search-wrap-bd .search .sea-btn .sea-btn-midd button {*padding-top:3px;background:none;border:none;font-size:14px;font-family:'宋体';color:#fff;outline:none;cursor:pointer;}


.content-bd .adv-wrap .adv-wrap-bd {width:1000px;margin:0 auto;position:relative;}
.content-bd .adv-wrap .adv-wrap-bd .adv-bd {height:178px;}
.content-bd .adv-wrap .adv-wrap-bd .adv-btn {position:absolute;right:44px;bottom:25px;}


/*左侧联系强元芯*/

.pro-area .contact-asime {width:204px;margin:18px 23px 10px 13px;}
.pro-area-bd .contact-asime h3 {background:url(../images/contact-title-bg.png) no-repeat;color:#fff;font-size:14px; font-family:'宋体';height:32px;line-height:32px;text-align:center;}
.pro-area-bd .contact-asime dl {border:1px solid #e1e2e4; background:#fff;padding:6px 18px 17px 14px;}
.pro-area-bd .contact-asime dl dt{height:37px;background: url(../images/phone-bg.png) no-repeat left 14px;padding:9px 0 9px 54px;}
.pro-area-bd .contact-asime dl dt p {font:12px/18px '宋体';color:#999999;}
.pro-area-bd .contact-asime dl dt span {font:18px/24px Impact;color:#d4ad54;}
.pro-area-bd .contact-asime dl dd{font-size:12px; font-family:'宋体';color:#262626;padding:3px 0;}

/*产品展示*/
/*.content-bd .pro-area{background:#f0f0f0;border-bottom:1px solid #fff;}*/
.content-bd .pro-area .pro-area-bd {width:1000px;margin:0 auto; background:url(../images/menu-split.png) no-repeat 226px 20px;}
.content-bd .pro-area .pro-area-bd .menu {width:240px;}
.content-bd .pro-area .pro-area-bd .menu .menu-bd .title-left {width: 214px;background:url(../images/title-left.png) no-repeat;margin:16px 4px 4px 10px;}
.content-bd .pro-area .pro-area-bd .menu .menu-bd .title-right {background:url(../images/title-right.png) no-repeat right 0;}
.content-bd .pro-area .pro-area-bd .menu .menu-bd .title-bd { height:34px;line-height:34px;background:url(../images/title-bg.png) repeat-x; margin:0 6px;}
.content-bd .pro-area .pro-area-bd .menu .menu-bd .title-bd .pro-title{margin-left:23px;font-size:14px;font-family:'宋体';color:#fff;text-align:center; background:url(../images/title-logo.png) no-repeat left center;}

.pro-ul {margin:0 23px 0 13px;overflow:hidden;}
.pro-ul .pro-li {}
.pro-ul .pro-li h3.category-title {height:28px;line-height:28px;padding-left:18px;border:1px solid #d7d4d4; background:url(../images/pro-title-bg.png) repeat-x;}
.pro-ul .pro-li h3.category-title:hover {background:url(../images/pro-title-bg-hover.png) repeat-x;}

.pro-ul .pro-li .category-title a {display:block;font-weight:bold;color:#666666;background:url(../images/expand-colls.png) no-repeat 160px 14px;}
.pro-ul .pro-li .category-ul  {margin:4px 0 14px;}
.pro-ul .pro-li .category-ul .category-li {height:34px;line-height:34px;overflow:hidden;background:url(../images/li-bg.png) no-repeat left 33px;}
.pro-ul .pro-li .category-ul .category-li.nobg {background:none;}
.pro-ul .pro-li .category-ul .category-li a {padding-left:14px;_padding-top:10px;background:url(../images/icon.png) no-repeat -115px 2px;_background-position:-115px 12px;color:#666666;font:12px '宋体';}
.pro-ul .pro-li .category-title a:hover, .pro-ul .pro-li .category-ul .category-li a:hover {color:#916119;text-decoration:none;}


.content-bd .pro-area .pro-area-bd .view {margin: 14px 0 0 30px;width:730px;}
.pro-area-bd .view .more-pro {margin-right:32px;height:25px;line-height:25px;border-bottom:2px solid #10508c;}

.pro-area-bd .view .more-pro p, .pro-area-bd .view .more-pro a {color:#999;}
.pro-area-bd .view .more-pro a:hover {color:#916119;text-decoration:none;}


.pro-area-bd .view .pro-list-wrap {margin-top:15px;}
.pro-area-bd .view .pro-list-wrap .pro-desc-ul {}
.pro-area-bd .view .pro-list-wrap .pro-desc-li {float:left;width:220px;padding:14px 5px 20px 8px;background:url(../images/products/pro-bg.png) no-repeat;}
.pro-area-bd .view .pro-list-wrap .pro-desc-li .pro-det {border:1px solid #e1e2e4;width:198px;}
.pro-area-bd .view .pro-list-wrap .pro-desc-li .pro-det .pro-img {border-bottom:1px solid #e1e2e4;}
.pro-area-bd .view .pro-list-wrap .pro-desc-li .pro-det .pro-img a {display:inline-block;}
.pro-area-bd .view .pro-list-wrap .pro-desc-li .pro-det .pro-img a img{}
.pro-area-bd .view .pro-list-wrap .pro-desc-li .pro-det .desc-bd {background:#f1f2f3;height:47px;padding-left:15px;}
.pro-area-bd .view .pro-list-wrap .pro-desc-li .pro-det h3 {height:24px;line-height:24px;}
.pro-area-bd .view .pro-list-wrap .pro-desc-li .pro-det h3 a {color:#666;font:14px '宋体';overflow:hidden;}
.pro-area-bd .view .pro-list-wrap .pro-desc-li .pro-det h3 a:hover {color:#916119;text-decoration:none;}
.pro-area-bd .view .pro-list-wrap .pro-desc-li .pro-det p {height:20px;line-height:20px;color:#666;font:12px/20px '宋体';}
.pro-area-bd .view .pro-list-wrap .pro-desc-li .pro-det p span {width:110px;height:9px;*height:13px;overflow:hidden;display:inline-block;_display:_inline;zoom:1;background:url(../images/products/star.png) repeat-x left center;}


/*产品详细参数*/
.pro-list-wrap .pro-detail-wrap {margin:17px 0 20px;}
.pro-list-wrap .pro-detail-wrap .pic-area {width:344px;padding-right:15px;}


.pro-list-wrap .pro-detail-wrap .pic-area .bigPic {border:1px solid #dddddd;width:344px;height:304px;}
.pro-list-wrap .pro-detail-wrap .pic-area .other-pic {margin:15px 0 35px;}
.pro-list-wrap .pro-detail-wrap .pic-area .other-pic .back {display:inline-block;width:8px;height:9px;overflow:hidden;background:url(../images/products/icons.png) no-repeat left 0;}
.pro-list-wrap .pro-detail-wrap .pic-area .other-pic .forward {display:inline-block;width:8px;height:9px;overflow:hidden;background:url(../images/products/icons.png) no-repeat left -12px;}
.pro-list-wrap .pro-detail-wrap .pic-area .other-pic .rolling-wrap {position: relative;height: 51px;width: 320px;overflow: hidden;display: inline-block;_display: inline;_zoom: 1;vertical-align: middle;}
.pro-list-wrap .pro-detail-wrap .pic-area .other-pic .rolling-items {}
.pro-list-wrap .pro-detail-wrap .pic-area .other-pic .rolling-item {float:left;border:1px solid #dddddd;padding:1px;margin:0 8px;cursor:pointer;}
.pro-list-wrap .pro-detail-wrap .pic-area .other-pic .rolling-item.active, .pro-list-wrap .pro-detail-wrap .pic-area .other-pic .rolling-item:hover {border:1px solid #e3aa14;}
.pro-list-wrap .pro-detail-wrap .pic-area .other-pic .rolling-item img {width:60px;height:47px;}

.pro-list-wrap .pro-detail-wrap .pic-area #seeBigPic {border:0;background:url(../images/products/icons.png) no-repeat 3px -24px;height:16px;padding-left:24px;font:12px/12px '宋体';color:#e3aa14;cursor:pointer;}

.pro-list-wrap .pro-detail-wrap .desc-order-area {}
.pro-list-wrap .pro-detail-wrap .desc-order-area .desc-wrap{}
.pro-list-wrap .pro-detail-wrap .desc-order-area .desc-wrap h3 {margin-bottom:7px;padding-bottom:13px;font:14px/14px '宋体';color:#262626;font-weight:bold;border-bottom:1px dashed #dadada;}
.pro-list-wrap .pro-detail-wrap .desc-order-area .desc-wrap p {padding:6px 0;font:14px/14px '宋体';color:#262626;font-weight:bold;}
.pro-list-wrap .pro-detail-wrap .desc-order-area .desc-wrap .feature-items {width:340px;}
.pro-list-wrap .pro-detail-wrap .desc-order-area .desc-wrap .feature-item {float:left;width:165px;padding:9px 5px 9px 0;font:12px/12px '宋体';color:#262626;overflow:hidden; white-space:nowrap;text-overflow:ellipsis;}
.pro-list-wrap .pro-detail-wrap .desc-order-area .desc-wrap .feature-item label {}
.pro-list-wrap .pro-detail-wrap .desc-order-area .desc-wrap .feature-item span {}

.pro-list-wrap .pro-detail-wrap .desc-order-area  .order-wrap {padding:50px 0 0 50px;}
.pro-list-wrap .pro-detail-wrap .desc-order-area  .order-wrap .order-hot-line {}
.pro-list-wrap .pro-detail-wrap .desc-order-area  .order-wrap .order-hot-line span {font:14px/14px '宋体';color:#262626;font-weight:bold;}
.pro-list-wrap .pro-detail-wrap .desc-order-area  .order-wrap .order-hot-line em {font:28px/28px Arial;color:#c49b38;font-weight:bold;}
.pro-list-wrap .pro-detail-wrap .desc-order-area  .order-wrap button {margin:20px 0 0 40px;background:url(../images/products/go-buy-btn-bg.png) no-repeat;border:0;width:184px;height:51px;font:24px/24px '微软雅黑';color:#fff;font-weight:bold;cursor:pointer;}


.recommend-pro, .recommend-news {margin:0 15px;}


/*推荐产品*/
.sec-title {height: 35px;line-height:35px;border-bottom:4px solid #0337ac;}
.sec-title span {display:inline-block;_display:inline;_zoom:1;
	width:134px;height:35px;padding-left: 25px;
	background: url(../images/icon.png) no-repeat left -25px;font:14px/35px '宋体';color: #fff;}
.sec-title em {padding-right: 15px;cursor: pointer;color:#999999;}
.sec-title em:hover {color:#f60;}

.pro-detail {}
.pro-detail .pro-name{font:14px/14px '宋体';color:#252525;text-align:center;padding:5px 0;}
.pro-detail .param-wrap {margin-top:55px;}
.pro-detail .param-wrap .pro-feature {width:700px;}
.pro-detail .param-wrap .pro-feature .title {font:14px/14px '宋体';color:#0237ab;font-weight:bold;padding-left:20px;}
.pro-detail .param-wrap .pro-feature tr {height:25px;font:14px/1.5 '宋体';color:#262626;}
.pro-detail .param-wrap .pro-feature tr td {border:1px solid #d3b263;padding-left:10px;}
.pro-detail .param-wrap .pro-feature tr td em {color:#3168e6;}

.pro-detail .param-wrap .pro-param{width:700px;}
.pro-detail .param-wrap .pro-param .split {border-top:none;}
.pro-detail .param-wrap .pro-param tr {height:25px;font:14px/1.5 '宋体';color:#262626;}
.pro-detail .param-wrap .pro-param tr td {border:1px solid #d3b263;padding-left:10px;}

.pro-detail .download-wrap {text-align:center;margin:50px 0;}
.pro-detail .download-wrap .download-btn {float:left;}
.pro-detail .download-wrap .down-left {background:url(../images/products/down-left.png) no-repeat; margin:0 39px;_margin:0 10px;padding-left:5px;}
.pro-detail .download-wrap .down-right {background:url(../images/products/down-right.png) no-repeat right 0;padding-right:29px;}
.pro-detail .download-wrap .down-center {background:url(../images/products/down-center.png) repeat-x;}


.pro-detail .download-wrap button {border:none;cursor:pointer;text-align:center; background:none;
font:20px/20px '宋体';color:#654009;height:44px;padding:0 10px;}


/* 采购留言 */
#order-sms {margin:40px 10px;}
#order-sms table {}
#order-sms table tr {height:28px;}
#order-sms table tbody tr td {font:12px/12px '宋体';color:#666666;}
#order-sms table tbody tr td i {color:#dc3904;padding-right:5px;}
#order-sms table tbody tr td input {width:280px;height:16px;line-height:16px;padding:2px;border:1px solid #7f9db9;}
#order-sms table tbody tr td textarea {padding:2px;width:417px;height:75px;border:1px solid #7f9db9; resize:vertical;}
#order-sms table tbody tr td p {padding:5px 0;}
#order-sms table tbody tr td p em {color:#ff0000;}

#order-sms table tfoot tr td input {margin-top:20px;margin-right:26px;width:74px;height:24px;line-height:24px;color:#fff;border:none; background: url(../images/icon.png) no-repeat left -246px;cursor:pointer;}


/*评论 */
.review-wrap {}
.review-wrap h4 {font:14px/14px '宋体';color:#666666;border-bottom:4px solid #0337ac;padding:7px 13px;}
.review-wrap h4 i {}

.review-wrap .review-bd {padding:18px 0; border-bottom:1px solid #dfdfdf;}
.review-wrap .review-bd ul {}
.review-wrap .review-bd ul li {padding-bottom:20px;}
.review-wrap .review-bd ul li .review-pic {text-align:center; width:120px;}
.review-wrap .review-bd ul li .review-pic img {}
.review-wrap .review-bd ul li .review-pic p {font:12px/1.5 '宋体';color:#404040}
.review-wrap .review-bd ul li .review-con {font:12px/1.5 '宋体';color:#666666;}
.review-wrap .review-bd ul li .review-time {padding-right:20px;font:14px/1 '宋体';color:#999999;}


.review-wrap .go-review {margin:20px 20px 40px 40px;}
.review-wrap .go-review table {}
.review-wrap .go-review table caption {padding:5px 0 10px 0;font:14px/1.5 '宋体';color:#000000;text-align:left;font-weight:bold;}
.review-wrap .go-review table tbody {}
.review-wrap .go-review table tbody tr {height:28px;}
.review-wrap .go-review table tbody tr td{font:12px/1.5 '宋体';color:#262626;}
.review-wrap .go-review table tbody tr td textarea {padding:2px;width:417px;height:75px;border:1px solid #7f9db9; resize:vertical;}
.review-wrap .go-review table tbody tr td p {padding:5px 0;}
.review-wrap .go-review table tbody tr td input {width:280px;height:16px;line-height:16px;padding:2px;border:1px solid #7f9db9;}
.review-wrap .go-review table tbody tr td a {display:block;width:160px;margin:10px 0;font:12px/1.5 '宋体';color:#262626;}
.review-wrap .go-review table tbody tr td a:hover {text-decoration:none;}
.review-wrap .go-review table tbody tr td a img {vertical-align:bottom;}

.review-wrap .go-review table tfoot tr td input {margin-top:20px;margin-right:26px;width:74px;height:24px;line-height:24px;color:#fff;border:none; background: url(../images/icon.png) no-repeat left -246px;cursor:pointer;}

/*联系我们*/

.contact {background:url(../images/products/contact-bg.png) no-repeat right bottom;}
.contact p {font:14px/14px '宋体';color:#666666;padding:8px 0 9px;}
.contact .address {margin:26px 0 17px;}
.contact .phone{margin-bottom:59px; }